body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    flex: auto;
}
.nav-container {
    background-color: rgba(255, 255, 255, 0.7); /* 使用 rgba() 函数设置半透明的白色背景 */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #007bff;
    padding: 5px 10px; /* 调整上下宽度 */
}
.nav-link {
    margin: 0 15px;
    font-size: 18px;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}
.nav-link:hover {
    color: #ffc107; /* 鼠标悬停时的颜色 */
}

.chat-container {
    background-color: rgba(255, 255, 255, 0.7); /* 使用 rgba() 函数设置半透明的白色背景 */
    max-width: 400px;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.chat-box {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

input[type="text"], button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
}

